$lightmode-bg: #FCFAFF;
$lightmode-primary: #DFD6F2;
$lightmode-secondary: #F5EDFF;
$lightmode-primary-text: #212121;
$lightmode-input-text: #898989;
$lightmode-btn-bg: #8D79B1;
$lightmode-default-btn: lightgray;

$darkmode-bg: #0F0A17;
$darkmode-primary: #211631;
$darkmode-secondary:#3B304B;
$darkmode-primary-text: #FAFAFA;
$darkmode-input-text: #898989;